@charset "UTF-8";

img {
  max-width: 100%;
}

.header .site-title {
  width: 100px;
}

#hm-icon {
  background-color: red;
  width: 100px;
  height: 100px;
  position: fixed;
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}

.menu-trigger span {
  position: absolute;
  left: 25px;
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 4px;
}

.menu-trigger span:nth-child(1) {
  top: 36px;
}

.menu-trigger span:nth-child(2) {
  top: 50px;
}

.menu-trigger span:nth-child(3) {
  top: 64px;
}

#sp-menu {
  display: none;
}