@charset "UTF-8";

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  top: 0;
}

main {
  padding-top: 80px;
}

img {
  max-width: 100%;
}

.video {
  max-width: 100%;
}

#hm-icon {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 50px;
  height: 44px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 20px;
}
.menu-trigger span:nth-child(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
  background-color: #333;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  background-color: #333;
}

#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  /*background-color: rgba(0,0,0,0.6);*/
  color: #fff;
  /*width: 100%;*/
  min-height: 100%;
  display: none;
  z-index: 9;
  padding: 60px 25px;
}

#sp-menu .nav-menu {
  background-color: #000;
  /*transform: translate(-300px, 0);*/
  width: 300px;
  padding-inline-start: 0;
  border-top: solid 1px white;
  margin-bottom: 60px;
  /*list-style-position: inside;*/
}
#sp-menu .nav-menu li {
  padding: 20px;
  list-style: none;
  border-bottom: solid 1px white;
}

#sp-menu a {
  color: #fff;
  text-decoration: none;
}

#sp-menu .sns-menu {
  padding-inline-start: 0;
}

#sp-menu .sns-menu li {
  list-style: none;
  padding: 5px 0;
}

#pickup {
  padding-top: 100px;
}

#pickup h2 {
  text-align: center;
}

#pickup li {
    width: 345px;
    list-style: none;
}

.multiple { padding: 0;}
.multiple img { width: 100%;}
.multiple div { margin: 0 5px;}